<div class="footer">
   	<div class="link text-center">
       <ul class="list-inline list-unstyled">
            <li><a href="http://www.svocloud.com/index.php?m=default.about" target="_blank">关于我们</a></li>
            <!-- <li><a href="#">帮助中心</a></li> -->
            <li><a href="http://www.svocloud.com/index.php?m=default.experience" target="_blank">联系我们</a></li>
            <li><a href="http://www.svocloud.com/index.php?m=default.cooperativePartner" target="_blank">合作伙伴</a></li>
            <!-- <li><a href="#">代理商登录</a></li> -->
        </ul>
       <p> Copyright &copy; {{nowDate}} 北京云起融通科技有限公司版权所有.</p>
       <p>电信经营许可证：B1-20170708 京ICP备：15004401号 京ICP证：160132号</p>
	</div>
</div>
